@charset "UTF-8";
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html, body{
  height: 100vh;
}
body{
  color: white;
  font-family: 'Raleway', sans-serif;
  background: rgb(85,13,107);
  background: -moz-linear-gradient(173deg, rgba(85,13,107,1) 0%, rgba(48,11,105,1) 100%);
  background: -webkit-linear-gradient(173deg, rgba(85,13,107,1) 0%, rgba(48,11,105,1) 100%);
  background: linear-gradient(173deg, rgba(85,13,107,1) 0%, rgba(48,11,105,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#550d6b",endColorstr="#300b69",GradientType=1);
}
.header{
  text-align: center;
  padding-top: 20px;
}
.headerImg{
  width: 80px;
  border-radius: 50px;
  border: solid white 3px;
  box-shadow: 0 0 20px white;
}
h1{
  font-family: 'Architects Daughter', cursive;
  font-weight: 100;
  font-size: 24px;
  margin-bottom: 2px;
}
h2{
  font-size: 16px;
}
.navSocial{
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
.navImg{
  width: 33px;
  padding: 20px 0;
}
.linksList{
  display: flex;
  padding: 0 10px;
  list-style: none;
  flex-direction: column;
  gap: 10px;
}
.linksList li{
  height: auto;
  padding: 10px 16px;
  background-color: white;
  border-color: white 1px solid;
  border-radius: 10px;
  box-shadow: 0 0 10px white;
}
.title{
  color: #9261DC;
  font-size: 18px;padding-bottom: 2px;
}
.description{
  color: rgb(105, 96, 96);
  font-size: 16px;
}